[2017-03-23 18:27] gashcrumb opened #2 "Couple dependency things..."
`ng-bootstrap` only works for bootstrap 4, we're kinda stuck on bootstrap 3.  We're currently using `ng2-bootstrap@1.3.3`  There's syntax differences between the two, so watch out for that -> http://valor-software.com/ng2-bootstrap/#/

Also there's an `angular2` dependency in the package.json file that I think can come out, as all the angular packages are in the @angular namespace.  I think this m

[2017-03-23 18:31] gashcrumb commented on #2
Wonder can you also try bumping `rxjs` to 5.1.1?  And would you like a PR for all this?

[2017-03-23 19:07] mattrpav commented on #2
PR sounds good.  Curiously, what is the driver for Bootstrap 3?  Something for us to keep an eye on so we don't pull in BS4 accidentally moving forward.

[2017-03-23 19:12] gashcrumb commented on #2
Version of patternfly we're on depends on/pulls in bootstrap 3 so we're stuck with it for now.

[2017-03-23 19:20] gashcrumb commented on #2
@mattrpav btw, do you know what's being used from ng-bootstrap?

[2017-03-23 19:21] gashcrumb commented on #2
never mind, found it :-)

[2017-03-23 19:22] mattrpav commented on #2
Type-ahead drop down input box

[2017-03-23 19:24] mattrpav commented on #2
We are digging into the ng2-bootstrap@1.3.3 as a replacement

[2017-03-23 19:25] gashcrumb commented on #2
k, almost have a PR with an update, here's the docs on it -> http://valor-software.com/ng2-bootstrap/#/typeahead

[2017-03-23 19:34] gashcrumb commented on #2
Actually, lemme leave moving to ng2-bootstrap to you, as I can't properly test it here.  Am opening a PR with the other changes though.

[2017-03-24 14:19] gashcrumb opened #4 "Error during AOT compile"
So hitting this error when we build ipaas-ui with AOT:

[code]

I think I'll have a PR in a few with a workaround, but maybe it'd be worth re-working this modal to use the ng2-bootstrap modal instead?  This would avoid having to import references from platform-browser.  For reference here's the modal documentation from ng2-bootstrap -> http://valor-software.com/ng2-bootstrap/#/modals

[2017-03-24 14:31] gashcrumb opened #5 "Ensure code is AOT compatible"
Just to be pro-active, we do compile the ipaas console for production using the AOT compiler (actually using angular-cli to do this) so we need to be sure that this module will compile properly for AOT.  They've a cookbook on that angular site that's worth a review -> https://angular.io/docs/ts/latest/cookbook/aot-compiler.html

[2017-03-24 15:02] gashcrumb commented on #5
Phew, got a proper batch of errors from the AOT compiler after upgrading some deps, here's what I'm getting ->

[code]

I'll work on getting a PR for these, apparently AOT just wants you to have everything public :-)

[2017-03-24 15:09] gashcrumb commented on #5
FYI, quick 'n dirty way to see this locally for the curious:

1)  Install `yarn` -> https://yarnpkg.com/lang/en/docs/install/
2)  Clone ipaas-ui ->https://github.com/redhat-ipaas/ipaas-ui.git
3)  `yarn install` and go get a coffee, or maybe lunch
4)  After that's done `yarn ng build -- --aot --prod`

As luck would have it though I have the above errors fixed locally now, so PR is forthcoming.

[2017-03-24 15:24] mattrpav commented on #2
@gashcrumb please review changes and not jasmine-fix.zip work around is no longer needed

[2017-03-24 17:17] #4 closed

[2017-03-24 17:17] gashcrumb commented on #2
Think this is all set, thanks!

[2017-03-24 17:17] #2 closed

[2017-03-24 17:18] gashcrumb commented on #5
Should be all set, will open a new issue if anything else pops up.

[2017-03-28 16:35] gashcrumb commented on #5
Oh yeah, this is all set :-)

[2017-03-28 16:35] #5 closed

[2017-03-30 00:58] gashcrumb opened #10 "How to construct the right ConfigModel from an existing mapping document"
Given this mapping document from the server how would I construct a `ConfigModel`?  It's not entirely clear to me from the data I've receiving from the server:

[code]

I was kinda hoping this could be passed into the directive kinda as-is...

[2017-03-30 00:58] gashcrumb commented on #10
@mattrpav FYI

[2017-03-30 14:08] gashcrumb commented on #10
@jbakermd any ideas on this one when you get a chance?

[2017-03-30 14:14] mattrpav commented on #10
@gashcrumb This is our top priority this morning

[2017-03-30 14:25] mattrpav commented on #10
Note for others.. the sample wiring is here: [data.mapper.example.host.component.ts](https://github.com/redhat-ipaas/datamapper-ui/blob/master/src/app/lib/ipaas-data-mapper/components/data.mapper.example.host.component.ts)

[2017-03-30 18:31] gashcrumb opened #11 "What contains the mapping when in the save callback"
Basically from this line -> https://github.com/redhat-ipaas/datamapper-ui/blob/master/src/app/lib/ipaas-data-mapper/components/data.mapper.example.host.component.ts#L83

Would `this.cfg.mappings` be the object I'd want to save?

I guess kinda related to https://github.com/redhat-ipaas/datamapper-ui/issues/10 in a way

[2017-03-30 19:17] gashcrumb commented on #11
@mattrpav @jbakermd Oops, should have CC'd you guys on this one...

[2017-03-30 23:00] mattrpav commented on #10
@gashcrumb Jason's latest merged PR has what you need.

See: [data.mapper.example.host.component.ts#L88](https://github.com/redhat-ipaas/datamapper-ui/blob/master/src/app/lib/ipaas-data-mapper/components/data.mapper.example.host.component.ts#L88)

[2017-03-30 23:02] mattrpav commented on #11
@gashcrumb see the snippet here: [data.mapper.example.host.component.ts#L106](https://github.com/redhat-ipaas/datamapper-ui/blob/master/src/app/lib/ipaas-data-mapper/components/data.mapper.example.host.component.ts#L106)

[2017-03-31 00:22] gashcrumb commented on #11
Thanks!

[2017-03-31 00:22] #11 closed

[2017-03-31 00:22] gashcrumb commented on #10
Yep, that's perfect, thanks!

[2017-03-31 00:22] #10 closed

[2017-03-31 00:27] gashcrumb opened #14 "CORS issue?"
Getting this when the mapper is trying to call out to fetch the classpath:

[code]

@mattrpav @KurtStam FYI

[2017-03-31 00:35] gashcrumb commented on #14
There's no CORS related headers on the preflight response unfortunately, so at least running from dev mode the mapper won't work.

[2017-03-31 00:37] gashcrumb opened #15 "Is a POM needed then?"
I see in the updated example it sends along a POM file for figuring out the classpath.  I guess this is something we'll generally need then?

@KurtStam wonder, can we include the POM file in the integration somehow?  Maybe as another parameter in `configuredProperties` as a string, like the mapping document.

[2017-03-31 00:38] gashcrumb commented on #15
I guess though for the first time through there won't be a POM available at all as there won't be a project yet.

[2017-03-31 00:39] gashcrumb commented on #15
Oh, or we can specify a classpath, I see.  Wonder if we could generate that then instead.

[2017-03-31 00:45] mattrpav commented on #15
My bad. The maven class path call is the only one wo CORS.

Re: classpath: I had discussed this approach w @chirino and he thought the CP would not be known bc of pathing issues to DM container's mvn repo.

I'm open to revisiting the convo; however, we should prolly rally w Chirino to ensure requirements are covered

[2017-03-31 01:10] gashcrumb commented on #15
no worries!  But yeah, the classpath/pom thing will be tough, especially if we haven't started any kind of project yet.

Unless I guess we create the project after we get the start/end of the route, then we could have a pom file available.  Definitely will need more discussion :-)

[2017-03-31 05:37] chirino commented on #15
Generating a Pom should not be a problem for the rest backend.

[2017-04-04 12:59] gashcrumb commented on #15
This should be all set.

[2017-04-04 12:59] #15 closed

[2017-04-04 13:01] gashcrumb opened #17 "Error building from app component css"
When pulling in the latest update:

[code]

[2017-04-04 13:24] gashcrumb opened #19 "Avoid global css rules and modifying existing css classes"
With `ViewEncapsulation.None` all of the CSS in the component is applied to the entire page.  This means that changes to existing styles in patternfly or bootstrap will be applied, which will change the entire page layout, not just that of the component.  So for example rules like this can't be used:

[code]

As well as:

[code]

Create new CSS classes for these rules and apply them to the element

[2017-04-04 13:59] gashcrumb opened #20 "Missing ajax-loader.gif file"
Seeing this 404:

GET http://localhost:4200/app/lib/ipaas-data-mapper/ajax-loader.gif 404 (Not Found)

though maybe it'd be better to use the patternfly `spinner` class rather than this gif.

[2017-04-04 14:33] mattrpav commented on #14
@gashcrumb have you confirmed this is fixed with the latest service?

[2017-04-04 14:33] gashcrumb commented on #14
Think this is fixed...

[2017-04-04 14:33] #14 closed

[2017-04-04 14:34] gashcrumb commented on #14
@mattrpav apparently we both thought about this issue at the same time :-)

[2017-04-04 14:36] mattrpav commented on #14
Sweet =)

[2017-04-04 14:57] gashcrumb opened #21 "Mapping component doesn't show up in the window unless I trigger a mouse event"
Interestingly enough, the UI doesn't fully show up unless I click in the area where the component should be, for example, I go to our page that holds the data mapper component, where in my code I have the template like:

[code]

Using 'initialized' there to avoid loading the data mapper component until I've fetched the `pom.xml`.

[2017-04-04 14:57] gashcrumb commented on #21
Wondering if I should take out that `*ngIf` in my template, gonna see if that helps.

[2017-04-04 15:07] gashcrumb commented on #21
k, I reworked my initialization logic a bit, now the UI shows up nicely after the classpath has loaded, think this can be closed actually.

[2017-04-04 15:07] #21 closed

[2017-04-04 16:38] gashcrumb commented on #19
Also we'll ensure that the container that we initialize the data-mapper component in is sized appropriately, so you can keep the `html, body` rule in the local `index.html`

[2017-04-04 16:44] #17 closed

[2017-04-04 16:59] jbakermd commented on #20
Issue fixed with commit 3fa8d5b83b54fa6fce49f3bf1ac9533c9a83fd13. Thanks for the pointer about patternfly spinner.

[2017-04-04 16:59] #20 closed

[2017-04-04 17:00] jbakermd commented on #19
Fixed in commit 3fa8d5b83b54fa6fce49f3bf1ac9533c9a83fd13. I've moved the global styles I need for my testing out into the test index.html, and re-addressed various CSS styles that were accidental global overrides but only apply to Data Mapper UI elements.

[2017-04-04 17:00] #19 closed

[2017-04-04 19:36] gashcrumb opened #23 "Error when clicking on a field in the UI"
This actually works with a local dev build, but on the staging instance of the app I get the following when I go to the data mapper page and click on a field.  So close!

<img width="548" alt="capture" src="https://cloud.githubusercontent.com/assets/351660/24675133/0f97ed40-194c-11e7-850f-5e7b3edf7b13.PNG">

[2017-04-04 20:06] gashcrumb commented on #23
Seems to correlate to when the side panel with the controls is displayed.

[2017-04-04 20:12] gashcrumb commented on #23
Ooh, I think I might know what's causing this actually -> https://github.com/redhat-ipaas/datamapper-ui/blob/master/src/app/lib/ipaas-data-mapper/data.mapper.module.ts#L66 it's probably failing to inject some ng2-bootstrap specific service.  Let me ensure we're initializing the typeahead module in our code and see if that sorts this out.

[2017-04-04 20:59] gashcrumb commented on #23
Hmm, the linked PR didn't seem to change the behavior.  I wonder if this component annotation should have `providers` set like:

[code]

that's the only other thing I can think of that'd maybe have something to do with this error.

[2017-04-05 14:01] gashcrumb commented on #23
Looking at the html in the DOM when the error occurs, I'm wondering if the modal component could be a cause.  One option could be to use the ng2-bootstrap implementation, that'd also mean less code to maintain.  Think the only way to reproduce this that I can see is build the component minified, let me also see if angular 2 has any strict dependency injection checks I could enable that might show

[2017-04-05 14:19] gashcrumb commented on #23
Can reproduce locally via `yarn ng server -- --prod` so investigating further.

[2017-04-05 14:43] gashcrumb commented on #23
Interesting, after using `yarn link` and restarting to pull in the datamapper-ui repo now it doesn't reproduce locally.

[2017-04-05 15:23] gashcrumb opened #24 "Failed to deserialize mappings"
Getting this exception when calling deserializeMappingServiceJSON:

[code]

Am passing in this JSON string, should be what I got back from serializeMappingsToJSON:

[code]

[2017-04-05 16:04] gashcrumb commented on #23
So did `yarn unlink ipaas.data.mapper`, I can still at least modify the cached copy of the files and reproduce the issue again.  Trying to narrow it down to a particular component, so far I've confirmed that commenting out the mapping-detail component from the data mapper app root template makes the error go away, but haven't narrowed it further yet.

[2017-04-06 12:26] gashcrumb commented on #24
@mattrpav any word on this one?

[2017-04-06 12:27] gashcrumb commented on #23
@mattrpav any word on this one too?  :-)

[2017-04-06 15:13] jbakermd commented on #23
Did adding the ".forRoot()" factory method in the data mapper's module rather than the host module solve the problem for you, @gashcrumb? I confirm on my end that I can run the data mapper standalone with that change.

[2017-04-06 15:14] gashcrumb commented on #23
yeah, for me it fixes this issue locally.

[2017-04-06 15:21] jbakermd commented on #24
Are you attempting to pass this JSON to the deserialize method in string format (i.e. with the escaped quotes in it)? The method expects a JSON object (type: any). If you have a string you want to parse into JSON for the method you can use JSON.parse().

[2017-04-06 15:22] jbakermd commented on #23
Perfect. I will merge your pull request. Thanks for getting to the bottom of this.

[2017-04-06 15:22] #23 closed

[2017-04-06 15:22] gashcrumb commented on #24
Ah, I must have misread the code then, let me give that a go, thanks!

[2017-04-06 15:53] gashcrumb opened #27 "Error loading image from .css file"
Hit this error pulling in the latest updates:

[code]

that's a tough one, as the relative paths are gonna be pretty different when this module is pulled in as a dependency.  If the file isn't too big one option is to base64 encode the image and inline it in the css.

[2017-04-06 16:14] #24 closed

[2017-04-06 17:14] gashcrumb commented on #27
Changing the path in the css file to an absolute path seems to fix this for me...

[2017-04-06 17:30] gashcrumb opened #28 "Can't find input field, not drawing line: User.screenName"
So I'm using this json, parsing it and passing it to the datamapper component.  I see blue dots on some of the fields, but as I scroll each panel I'm seeing error messages stream into the console log.  Here's the json for testing:

[code]

And actually, here's the pom too:

[code]

[2017-04-06 17:31] gashcrumb commented on #28
Oh, should note that I'm testing against the latest commit + a tweak to the css so I can build with the component.

[2017-04-06 17:35] gashcrumb opened #29 "DataMapperUIBackground div at 200% height"
Makes the whole page taller than it should be.  We're currently optimizing for 1280x720 for the demo, I think it's probably best to `avoid height: 200%` rule.  Note that the container that I'm loading the data mapper component in is set up like:

[code]

So 100% of the viewport less the (apparently) 140 pixels for the header.

![screencapture-localhost-4200-integrations-edit-1-step-configure-2-149

[2017-04-06 17:54] gashcrumb commented on #27
I think though I'll have to copy those assets into our project, which I think is fine for now.  Could we align on the path?  We keep our images in `assets/images` vs `assets/img`.

[2017-04-06 17:57] jbakermd commented on #27
Right thats what I was thinking the answer would be, a copy job before you build. Can you describe the rest of your assets folder structure for future reference, i.e. is there an "assets/css" or "assets/styles" etc?

[2017-04-06 17:58] jbakermd commented on #27
And, what do you think about the following possible folder structures:

"assets/images/dm/" (for data mapper images)

or do you prefer something like:

"assets/dm/images"

or shall we instead just prefix all dm assets with "dm-" such as "dm-bg-image.png" to avoid conflicts?

[2017-04-06 18:03] gashcrumb commented on #27
So far just 'images', our css winds up all getting baked into one big file I think, but this is it -> https://github.com/redhat-ipaas/ipaas-ui/tree/master/src/assets

yeah, maybe a 'dm' folder would be best I think, that way if we need to revisit how assets are brought in they're all together.

[2017-04-06 18:06] jbakermd commented on #27
perfect. I'll move our assets to a "assets/dm/images" folder in our project, you can then just copy "dm" into "assets/dm" in your project. I'll commit this this evening. Do you need it sooner?

[2017-04-06 18:09] gashcrumb commented on #27
Nope, that sounds good to me!

On Thu, Apr 6, 2017 at 2:06 PM, jbakermd <notifications@github.com> wrote:

[2017-04-06 18:10] gashcrumb commented on #27
@jbakermd @mattrpav oh, went ahead and canceled that call too...

[2017-04-06 18:35] mattrpav commented on #27
Good deal =)

[2017-04-06 20:22] jbakermd commented on #29
Right. This was a temporary hack I forgot to fix yesterday afternoon as I was working on that background. The height needs to be 100%, and some work in the data mapper's main div needs to be done to make that 100% show up correctly.

I might resort to the main div saying overflow:none, in which case the 200% inner element here won't affect anything.

[2017-04-06 20:23] jbakermd commented on #28
I've seen this issue in my error log too. It seems benign, but I will figure out what's going on that's causing that lookup error.

[2017-04-06 20:35] gashcrumb commented on #29
Sounds good.  There seems to also be some padding/margins that make the data mapper elements kind of 'spill out' of the container div we have, so I wind up having to make our container smaller than I think it could be.  Maybe it's worth in the components development index.html perhaps setting the same CSS on the container?  Or actually I guess it'd be in the example component.  In any case, might

[2017-04-07 15:05] jimmidyson commented on #27
Any news on this fix?

[2017-04-07 15:14] jbakermd commented on #29
I've fixed the "spilling out" issue (bad math regarding height of the mapper's child components), and the 200% background height. That checkin will be happening soon.

Can you provide the index.html you're using so I can align our test index as closely to it as possible?

[2017-04-07 15:18] gashcrumb commented on #29
Awesome!

Kind of tough as there's a few layers of components -> https://github.com/redhat-ipaas/ipaas-ui/blob/master/src/index.html

The actual component that's currently holding the datamapper is (markup/css is inline in this file) -> https://github.com/redhat-ipaas/ipaas-ui/blob/master/src/app/integrations/edit-page/step-configure/data.mapper.example.host.component.ts

[2017-04-07 15:29] jbakermd commented on #29
Right. We could "copy outer html" in the chrome inspection tool from the top of the "current html" shown there, but that's going to be a world of hurt as well. I'm fairly certain I've fixed the spill over issue, which should make the data mapper ui play nice within whatever container it's placed in. Let's see if that works out for you in your container, and if not we can come back to trying to ali

[2017-04-07 15:32] gashcrumb commented on #29
Yep, that sounds good.

[2017-04-07 16:41] jbakermd commented on #29
@gashcrumb  this is fixed in the latest commit.

[2017-04-07 16:41] #29 closed

[2017-04-07 16:42] jbakermd commented on #28
This is fixed in the latest commit.

[2017-04-07 16:42] #28 closed

[2017-04-07 16:44] jbakermd commented on #27
I've changed the layout of the files in the latest commit.

@gashcrumb as we discussed the images in the DM project have been moved from a "assets/img" layout to "assets/dm/images", with the intention of your build job copying the "dm" folder into your "assets" folder before compilation.

I'll leave this issue open until you've been able to update your build job with this new file structure.

[2017-04-07 16:49] gashcrumb commented on #27
Great, thanks!  I'll give it a try right now...

[2017-04-07 17:57] gashcrumb commented on #27
@jbakermd I still get the compilation error, but I see that this line is still a relative path -> https://github.com/redhat-ipaas/datamapper-ui/blob/master/src/app/lib/ipaas-data-mapper/components/data.mapper.app.component.css#L20 in the latest commit, this needs to be an absolute path.

Kinda seems like a webpack bug but that being said it's trying to load it relative to the .css file, so it's an

[2017-04-07 18:37] jbakermd commented on #27
Ok the latest commit (https://github.com/redhat-ipaas/datamapper-ui/commit/c6ac2fb32283893a43c3c1e33ead461ebd223734) should fix this. Let me know if it doesn't.

[2017-04-07 20:35] #27 closed

[2017-04-07 20:37] gashcrumb opened #32 "Inherit font/font-size for consistency with enclosing app"
Looks like the css specifies OpenSans for font-family and a font-size it'd be better to let that get inherited from the containing app.  For font-size use relative sizes perhaps?

[2017-04-08 13:56] kcbabo opened #34 "Fully qualified class name in model view"
Were we going to default to showing the class name unqualified and then provide the FDN based on user action (hover, button, etc.)?

[2017-04-10 13:30] gashcrumb opened #35 "Mouse event lag"
Seems like at least when running in the context of the ipaas console, there's a lag when you click on data mapper fields, i.e. you click the left and right column and the line doesn't show up until you click again in one of the columns, then the line is drawn connecting the previously selected fields.  I'll see if I can upload a gif/video that shows the problem.

[2017-04-10 13:31] gashcrumb opened #36 "General Look And Feel Issues"
I don't recall the designs having that dark background image, @kcbabo?  I kinda feel like it'd be better if the component just inherits the container's background instead.

[2017-04-10 13:44] kcbabo commented on #36
Is this for data mapper?  If so, I agree.  I have some other comments about the integrated L&F - let me know if you want those here in this issue or elsewhere.

[2017-04-10 13:58] gashcrumb commented on #36
@kcbabo yep, so far for datamapper issues I've been using this repo, so yeah, I'd raise 'em here.

[2017-04-10 14:00] kcbabo commented on #36
Doh!  Didn't look at the repo where the issue was filed. :-)

[2017-04-10 14:05] mattrpav commented on #36
@gashcrumb @kcbabo let us know what you think re: background image, L&F in general. If it would help, we can hop on a call to discuss as well.

[2017-04-10 14:05] mattrpav commented on #34
@kcbabo you are correct. We'll address.

[2017-04-10 17:42] mattrpav commented on #35
@gashcrumb we originally had a line-that-follows-the-mouse effect enabled and we disabled it temporarily while we were finalizing styling and preparing for drag 'n drop feature coding.

Is the line-that-follows-the-mouse effect demo critical?

[2017-04-10 17:58] gashcrumb commented on #35
It's different from that, here, let me see if I can get a screen capture of it in action...

[2017-04-10 18:12] jbakermd commented on #34
This is fixed with 9ac2fbcc91a2e29eca7e0f6a9f1c25d3dd5c99d2.

[2017-04-10 18:12] #34 closed

[2017-04-10 18:14] gashcrumb commented on #35
Hopefully you can make out where the mouse clicks happen in this one...  If you can tell it feels like the action on each mouse event is delayed by one, i.e. I click on a field, the *last* field I had clicked on highlights, etc.

![ezgif-3-f01b6cd404](https://cloud.githubusercontent.com/assets/351660/24875959/e482865a-1df7-11e7-8806-5cf36bb9ea09.gif)

[2017-04-10 19:47] gashcrumb opened #38 "modal styling"
I think I caught a look at the modal styling and it doesn't really follow the patternfly look like I would have expected.  This makes it really stick out consistency-wise.

[2017-04-10 19:59] gashcrumb commented on #38
Was going to suggest also might be worth using ng2-bootstrap's modal directive, it plays nicely with the patternfly styling, for example -> https://github.com/redhat-ipaas/ipaas-ui/blob/master/src/app/integrations/list/list.component.html#L8-L33

[2017-04-10 20:34] kcbabo commented on #36
So here's my first impression feedback on the integrated L&F. I expect many/all of these are known issues that are being worked, but listing them just in case:

- Fonts are inconsistent with what's used elsewhere in the iPaaS UI.
- Background image is distracting - need to have a neutral/blended background.
- Model viewer frames are not aligned to the overall UI - the source model hangs off the le

[2017-04-11 15:20] kcbabo commented on #36
Hey - one thing I forgot to show is that the model viewers get kind of funky when resizing the browser window.  This is related to the comment above on the model names getting misaligned.

[2017-04-11 16:44] jbakermd commented on #35
The first issue I noticed in reproducing this was there was an exception trying to save the mapping data. That issue was due to a stale mapping from a previous version of the inspection service. It referred to fields with a lowercase name such as "User.name" before, but now it refers to them as "User.Name".

When serializing for saving, the previous (stale) mapping referred to "User.name" - which

[2017-04-11 16:44] jbakermd commented on #35
The issue of mouse event lag is still happening despite the above fix, so I'm looking into that currently.

[2017-04-11 17:01] jbakermd commented on #35
In debugging this issue I've noticed the host component for the data mapper has an out of date initialization sequence - should I log those details as an issue on the data mapper ui or over in the ipaas ui project? @gashcrumb - thoughts?

[2017-04-11 17:03] gashcrumb commented on #35
@jbakermd absolutely, you can either just add the details here or you can create an issue and assign it to me -> https://github.com/redhat-ipaas/ipaas-ui/issues

[2017-04-11 17:07] jbakermd commented on #35
Ok great. I'll create the issue on the ipaas-ui project when I've got it sorted.

[2017-04-11 17:47] jbakermd opened #39 "errors aren't showing up on data mapper ui screen in ipaas-ui"
when initialization fails to load documents, the error isn't showing up in the loading message, it just says "loading.."

[2017-04-11 22:57] jbakermd commented on #35
Ok I've narrowed this down to an issue with the screen updating. I see this manifesting in two places.

Place #1: On the loading screen, a status message displays a placeholder "Loading." message. This message is almost immediately changed under the covers to something like "Loading source/target documents.", which, in our test harness, automatically updates on the screen immediately - but it neve

[2017-04-11 23:23] jbakermd commented on #39
This appears to be the same problem as #35. The UI isn't updating for some reason when models change.

[2017-04-11 23:24] jbakermd commented on #35
I've committed fixes in 3d1a73984e9556ab0d6a085da9c7d7ab7c83d0c9. These fixes get us past a few initialization issues that were blocking root causing this issue. Namely, the fixes for loading/saving stale mappings that refer to non-existent fields. I'm about to open an  issue on ipaas-ui for a small initialization change.

[2017-04-11 23:32] jbakermd commented on #35
Created the ipaas-ui issue related to the initialization change: https://github.com/redhat-ipaas/ipaas-ui/issues/415

[2017-04-12 12:11] gashcrumb commented on #35
I've a few views where I've had to inject ChagneDetectorRef from angular and manually trigger the change detector, this could be needed here.  As to why it's been necessary I'm not sure.  Here's an example:

pulling in the type -> https://github.com/redhat-ipaas/ipaas-ui/blob/master/src/app/integrations/edit-page/save-or-add-step/save-or-add-step.component.ts#L29

injecting -> https://github.com/r

[2017-04-12 15:57] jbakermd commented on #35
Ah interesting. There's a similar hack I was surprised by. I forget the specific details, I *think* the issue was the view had already updated / drawn itself and I wasn't able to alter the model further. The commonly accepted answer to the problem is a ridiculous "setTimeout" call like so:

<pre>
// update the mapping line drawing after our fields have redrawn themselves
// without this, the x/y f

[2017-04-12 15:59] gashcrumb commented on #35
Yeah, it strikes me as the same stuff that was necessary in Angular 1, so maybe the change detection isn't all it's cracked up to be :-)

[2017-04-12 15:59] gashcrumb commented on #35
Maybe less time than 1 second might do the job, I usually keep it in the tens of milliseconds, basically just making it async to the current execution flow.

[2017-04-12 16:00] jbakermd commented on #35
It's strange though because it works in my very simple vanilla instance. I'm going to give your change detection fix a try.

[2017-04-12 16:04] jbakermd commented on #35
Yeah it was at 10 ms, the 1 second was an attempt to fix this issue - didn't :/ I'll put it back to 10.

[2017-04-12 16:42] jbakermd commented on #35
Thanks for that example, @gashcrumb. That fixed it. I'll change the initialization screen to use the same update method and have the fix in soon.

[2017-04-12 16:52] gashcrumb commented on #35
awesome, thanks!

[2017-04-12 17:06] jbakermd commented on #39
Fixed with 046380552b570f444aa085dd208f6326e8a51ed2.

[2017-04-12 17:06] #39 closed

[2017-04-12 17:06] jbakermd commented on #35
Fixed with 046380552b570f444aa085dd208f6326e8a51ed2. Thanks again, @gashcrumb.

[2017-04-12 17:06] #35 closed

[2017-04-12 17:34] gashcrumb commented on #35
yep, that makes a huge difference, thanks!  @kcbabo this should roll into staging shortly...

[2017-04-12 20:14] jbakermd opened #42 "Background is inconsistent with overall iPAAS UI."
This issue was first mentioned in the general L&F Issue (#36)

Comments for this issue from #36:

- Background image is distracting - need to have a neutral/blended background. (from @gashcrumb)

- I don't recall the designs having that dark background image, @kcbabo? I kinda feel like it'd be better if the component just inherits the container's background instead. (from @kcbabo)

[2017-04-12 20:16] jbakermd opened #43 "Font faces/sizes are inconsistent with the rest of iPAAS UI."
This issue was first mentioned in the general L&F Issue (#36).

Comments from #36

- Fonts are inconsistent with what's used elsewhere in the iPaaS UI. (from @kcbabo)

Fix Suggestions

- Remove font override for "opensans" font.
- Address additional inconsistencies.

[2017-04-12 20:17] jbakermd opened #44 "Data mapper alignment problems within iPAAS UI"
This issue was first mentioned in the general L&F Issue (#36)

Comments from #36:

Open Issues:

- Text used in source and model view headers (model names) do not align with text boxes. (from @kcbabo)

Fixed Issues:

- Model viewer frames are not aligned to the overall UI - the source model hangs off the left side and the mapping actions frame is off to the right. (from @kcbabo) (fixed with b2619d

[2017-04-12 20:18] jbakermd commented on #36
Ok guys, I've done a little house keeping for sanity sake. Every issue mentioned above has either been fixed or moved to other issues, here's the breakdown:

*FIXED ISSUES*

- Fixed In #35:  Creating a mapping is very slow - the edge connecting source and target takes seconds (sometimes 10+) to actually show up. (from @kcbabo)

- Fixed In #35: Mapped fields do not get a visual indicator (I think t

[2017-04-12 20:20] jbakermd commented on #36
Feel free to keep commenting on general  L&F problems here and/or in those other new issues (#42 for background issues, #43 for font issues, #44 for alignment issues).

I'll do further house keeping as time goes on.

[2017-04-12 20:21] jbakermd commented on #43
Oops. Dupe of #32. Moving these comments there.

[2017-04-12 20:21] #43 closed

[2017-04-12 20:21] jbakermd commented on #32
Related Comments from #36

- Fonts are inconsistent with what's used elsewhere in the iPaaS UI. (from @kcbabo)

[2017-04-12 21:32] jbakermd commented on #42
Ok I committed 1f480d28be5789aad1da93b5714f66ed88be47e5 with a *partial* fix to this. At first I removed not only the background arrow image, but also the dark grey color for the background, but that didn't look very good imo:

![screen shot 2017-04-12 at 4 06 16 pm](https://cloud.githubusercontent.com/assets/26657480/24980347/73e037c4-1f9d-11e7-8b27-03e2e96d7c83.png)

So, I put the dark grey back

[2017-04-12 21:34] jbakermd commented on #32
First fix this is in 1f480d28be5789aad1da93b5714f66ed88be47e5.

For starters I simply removed the datamapper-wide font face and size override, though various elements (quite a few, actually) still have font-size overrides within them. I think overall the data mapper looks better with just these simple fixes.

@gashcrumb @kcbabo, check out the data mapper ui font L&F with these fixes, and LMK if yo

[2017-04-12 21:36] kcbabo commented on #42
I find the dark gray background a bit distracting.  Part of the problem is that the UI elements don't appear to be spaced evenly on the background and the source model is off the side.

Would be curious to hear what @sjcox-rh and @dongniwang think.

[2017-04-12 21:59] jbakermd commented on #44
@kcbabo I need some clarification on "Text used in source and model view headers (model names) do not align with text boxes."

Here is a screenshot to facilitate this discussion:

![screen shot 2017-04-12 at 4 54 05 pm](https://cloud.githubusercontent.com/assets/26657480/24981196/3132bef2-1fa1-11e7-9bba-304254312205.png)

Are the green lines above indicating what you're talking about? The green li

[2017-04-12 22:01] kcbabo commented on #44
Let me grab the latest build and screen capture what I'm seeing.

On Wed, Apr 12, 2017 at 5:59 PM, jbakermd <notifications@github.com> wrote:

[2017-04-12 22:15] jbakermd commented on #44
Sounds good. Btw the fix isn't in yet, but I have the fix for the model cards overlapping outside the bounding box, and the resize issue.

[2017-04-12 22:22] kcbabo commented on #44
OK, it's tough for me to provide any feedback without seeing it in context.  Do you know when the changes for background, fonts, and alignment will be pushed?

[2017-04-12 22:30] kcbabo commented on #44
Updated comments using the latest build:
- I now see visual indicators for fields that have been mapped
- Model views come up lightning fast
- The mapping edge is drawn super fast when I map fields
- Alignment of model names does not get funky when I resize the window.  I think this one might be a bit of a cheat though because we moved to just showing the simple class name vs. the fully-qualified

[2017-04-12 23:32] jbakermd opened #46 "Blue "part of mapping" dots should show up when a single field is selected."
Currently we only show the blue dots when a completed mapping is showing, these should also be shown when the field is selected without a completed mapping.

[2017-04-12 23:34] jbakermd opened #47 "Data mapper cards / mapping detail panels should look like cards on dashboard."
These ui items need to be restyled with patternfly styles to match cards like this (notice no grey headers):

![screen shot 2017-04-12 at 6 33 42 pm](https://cloud.githubusercontent.com/assets/26657480/24983724/b363dca0-1fae-11e7-9eaa-d78c6a563b96.png)

[2017-04-12 23:38] jbakermd commented on #42
I have removed the dark gray background (commit b2619d9a7f9fd9d52227fb31e4fea41d3512d7aa). Lmk if it should be added back in.

[2017-04-12 23:41] jbakermd commented on #44
@kcbabo If you don't mind, can you pull latest one more time and review for further comment? I just fixed a number of alignment issues with b2619d9a7f9fd9d52227fb31e4fea41d3512d7aa.

Namely one important one I fixed is the issue with a toolbar showing up while loading, when it should have been hidden until loading completed.

Others are noted in the description for the issue at the top of this thr

[2017-04-12 23:44] jbakermd commented on #44
@kcbabo Can you elaborate on the following points:

Question 1: Alignment of model names. Are you talking about the green line or the yellow line shown in this image?

![screen shot 2017-04-12 at 4 54 05 pm](https://cloud.githubusercontent.com/assets/26657480/24983924/e31e9cf4-1faf-11e7-9a3c-796fff48c309.png)

Question 2: Can you provide a screenshot showing the model name being truncated? I've tr

[2017-04-13 16:42] jbakermd commented on #42
Marking this issue as closed. Feel free to reopen it if the dark grey background should be reintroduced.

[2017-04-13 16:42] #42 closed

[2017-04-13 16:42] jbakermd commented on #32
Marking this issue as closed. Feel free to reopen if needed for further font property refinement.

[2017-04-13 16:42] #32 closed

[2017-04-13 17:27] jbakermd commented on #46
Fixed with ced74f8d9d1bdd0d2f9c3600c75167344e4843cd.

[2017-04-13 17:27] #46 closed

[2017-04-13 17:27] jbakermd commented on #44
Yellow line issue and long model name issues are fixed with ced74f8d9d1bdd0d2f9c3600c75167344e4843cd.

@kcbabo when you get a chance, update and lmk of any further alignment issues you see.

[2017-04-13 17:28] jbakermd commented on #36
Closing this issue for now. Feel free to reopen it if needed.

[2017-04-13 17:28] #36 closed

[2017-04-13 20:55] jbakermd commented on #47
Fixed with 48290593adb3a961ac3749d100e1e8966dc3389f.

[2017-04-13 20:55] #47 closed

[2017-04-13 21:00] jbakermd commented on #38
Hey @gashcrumb, can you point me to an example use case within the iPAAS UI to see the iPAAS modal in action for styling consistency investigation?

[2017-04-13 21:26] gashcrumb commented on #38
Hey!  Yeah go to the integration list and pick delete or
activate/deactivate, those all use modals.  Thanks!

On Apr 13, 2017 5:00 PM, "jbakermd" <notifications@github.com> wrote:

[2017-04-14 16:08] jbakermd opened #51 "when deleting partial mapping, field is still "part of mapping""
1) select a field (mapping detail shows on right)
2) select trash can / delete mapping field from top of mapping detail field
3) on modal select check mark to confirm deletion
4) bug: field still has dot icon indicating it's part of a mapping, when it isn't.

[2017-04-14 19:24] jbakermd commented on #44
I've fixed a few more alignment issues I've noticed. (commit 680773bf314ceda5b1bd5252144827d1b8d2060c) Feel free to reopen if necessary.

[2017-04-14 19:24] #44 closed

[2017-04-14 19:24] jbakermd commented on #38
Fixed with 680773bf314ceda5b1bd5252144827d1b8d2060c.

[2017-04-14 19:24] #38 closed

[2017-04-14 19:25] kcbabo commented on #44
Data mapper is looking super sweet after your last round of changes.  Nice work!

[2017-04-14 19:46] jbakermd opened #53 "modal window isn't closing for some reason after modal styling alignments."

[2017-04-14 20:42] jbakermd commented on #53
Fixed with 1f80ba1b48e73c25dc6bac674a4e11b1f8729df2.

[2017-04-14 20:42] #53 closed

[2017-04-14 20:42] jbakermd commented on #51
Fixed with 1f80ba1b48e73c25dc6bac674a4e11b1f8729df2.

[2017-04-14 20:42] #51 closed

[2017-04-18 17:13] mattrpav opened #55 "[DISCUSS] When selecting a source or target field, auto scroll to show the other field involved in the mapping"

[2017-04-19 13:02] gashcrumb opened #56 "Mapping Line Gradient"
Tracking this issue here -> https://github.com/redhat-ipaas/ipaas-ui/issues/474

@sjcox-rh @jbakermd FYI

[2017-04-19 16:16] jbakermd commented on #56
Fixed with f3e0f2456c9838615ee17cb00a83280fd179e3b8.

[2017-04-19 16:16] #56 closed

[2017-04-20 17:19] kcbabo opened #58 "Model name too big for text area"
Check out the g's in Suggestion - they get clipped at the bottom.  Maybe add more buffer or drop the font size a bit?

![image](https://cloud.githubusercontent.com/assets/340837/25243649/ca81ea58-25cb-11e7-9e48-3bdd846b4c57.png)

[2017-04-20 17:19] kcbabo commented on #58
@chirino @mattrpav FYI

[2017-04-20 17:26] jbakermd commented on #58
It's the size of the box around the font (buffer) that's the problem. Will fix.

[2017-04-20 21:31] jbakermd commented on #58
Fixed with 64c6de0a56465cd495cf64dc24d698ffcae54f9e.

[2017-04-20 21:31] #58 closed

[2017-04-20 21:59] jbakermd opened #60 "mapping selection popup is not working."

[2017-04-20 22:24] jbakermd opened #61 "transformation icon should show up beside field if any mapping has transform."

[2017-04-20 22:43] jbakermd commented on #61
Fixed with 81682cc8ed4629511249b1edebf37670007cabf3

[2017-04-20 22:43] #61 closed

[2017-04-20 22:43] jbakermd commented on #60
Fixed with 81682cc8ed4629511249b1edebf37670007cabf3

[2017-04-20 22:43] #60 closed

[2017-04-21 14:21] gashcrumb opened #63 "target/source field header text is cut off at the bottom"
@mattrpav on Keith's demo I noticed the 'gg' in 'Suggestion' was cut off at the bottom, either the element needs a little more padding or maybe it's set 'overflow: hidden' and maybe doesn't need to be.

[2017-04-21 14:24] gashcrumb commented on #63
@kcbabo @chirino wonder, can we get those connections/integrations added to the example deployment.yaml so the mediadriver folks can see it too?

[2017-04-21 15:29] jbakermd commented on #63
I fixed this yesterday per #58 at 4:30 central. I *think* the demo was run without latest code, but I'm double checking.

[2017-04-21 15:41] jbakermd commented on #63
Yeah, I confirm this is fixed. Dupe of #58. Pull latest from Data Mapper UI git and lmk if you see the issue still.

[2017-04-21 15:41] #63 closed

[2017-04-21 15:49] gashcrumb commented on #63
Ah, okay sorry I didn't see that, thanks!

[2017-04-21 15:56] jbakermd commented on #63
@gashcrumb no worries.

[2017-04-21 16:08] dongniwang opened #64 "Data mapper tool bar color"
Hello all, things are looking great! Thank you for all the hard work!

I was wondering if it's possible to tweak the color of the tool bar (see screenshot below) on Data Mapper UI to make it look more like a tool bar? Right now, the white color treatment kind of truncates the entire page and makes it disconnect with the main data mapper area.

@sjcox-rh: do you have any good suggestion here?

cc:

[2017-04-21 16:09] gashcrumb commented on #64
Is that toolbar just for those two icons?  Maybe there'd be a better location for them so the toolbar doesn't even need to be there...

[2017-04-21 16:24] jbakermd commented on #64
There may be a couple more icons in the future on the toolbar. @gashcrumb is there a precedent somewhere within iPAAS for placing such icons w/ callback handlers on the system wide breadcrumbs toolbar shown above the white toolbar in the screenshot? if not, are there other examples of page-specific action toolbars within iPAAS we could look to for guidance?

[2017-04-21 16:50] aaamold commented on #64
@kcbabo is this something we need to get done today for the Red Hat demo?  If so, we'd need a quick recommendation on the color to change the toolbar.  If it isn't urgent for today, it looks like we need to have a discussion on the color / function / location of the toolbar in total.

[2017-04-21 17:01] kcbabo commented on #64
From my POV, I think this change can wait until we've had a chance to discuss in full and recommend a color.  WDYT @dongniwang ?

[2017-04-21 17:48] dongniwang commented on #64
Yes, we can revisit this after summit. But for now could we at the very least try to make the breadcrumbs and the toolbar area the same color so they're grouped together visually (see attached UI design)? We can make them either both white or both gray?

![ipaas_data mapper_toolbar](https://cloud.githubusercontent.com/assets/24943812/25289816/2e433e70-2699-11e7-90ca-1085e2f1621c.png)

[2017-04-21 17:51] gashcrumb commented on #64
@dongniwang white seems like it'd be the way to go, I'd want to probably go and make the breadcrumb area white across all the editor pages, what do you think?

[2017-04-21 18:01] dongniwang commented on #64
White is fine with me. At least we don't have to deal with the gray color not rendering properly issue before summit... @gashcrumb

[2017-05-11 12:52] gashcrumb opened #66 "Rename repo to 'syndesis-datamapper-ui'?"
@jimmidyson think we should rename this repo to `syndesis-datamapper-ui` to be consistent with the `syndesis-datamapper` repo name?

@jbakermd CC

[2017-05-11 12:54] jimmidyson commented on #66
:+1:

[2017-05-11 13:01] gashcrumb commented on #66
Done, will put in a PR to syndesis-ui for the repo name change

[2017-05-11 13:01] #66 closed

[2017-05-15 17:57] gashcrumb opened #67 "Update angular dependencies to 4.x"
As part of this issue we'll also need to update the angular dependencies in this component, will send along a PR.

https://github.com/syndesisio/syndesis-ui/issues/543

[2017-05-15 20:16] jbakermd commented on #67
Before I merge it, I noticed the change to ngx-bootstrap - is this just a rename? I ask because the change between ng-bootstrap and ng2-bootstrap caused a bit of pain and re-engineering to get things working again.

[2017-05-15 20:16] jbakermd commented on #67
@gashcrumb

[2017-05-15 20:22] gashcrumb commented on #67
yeah, that was a rename.  Also the reason for the extra work migrating from ng-bootstrap to ng2-bootstrap was due to them being different implementations of the same thing.

Hold off merging this for now though, I'm not sure it's entirely ready.

[2017-05-15 20:26] jbakermd commented on #67
ok.

[2017-05-16 13:35] gashcrumb commented on #67
@jbakermd PR is ready to merge when you get a chance

[2017-05-16 17:40] jbakermd commented on #67
merged (commit #68, 9476d91ec03c0e4885f3005876c67216130ef98d)

[2017-05-16 17:40] #67 closed

[2017-07-03 14:34] gashcrumb opened #69 "Some folders in datamapper screen not visible after search"
Originally raised as https://github.com/syndesisio/syndesis-ui/issues/588

[2017-07-04 21:43] jbakermd commented on #69
This issue has been fixed in our next-gen data mapper, which is in this repo now: https://github.com/atlasmap/atlasmap-ui

Note that the next-gen data mapper is not yet integrated with the larger Syndesis project.

[2017-07-04 21:43] #69 closed

[2017-07-05 17:25] jbakermd commented on #67
hey @gashcrumb, have there been further updates to the dependencies? I will have to do some rework in various components for the ngx-bootstrap update, and I'd prefer to do those changes once.

[2017-07-05 17:26] gashcrumb commented on #67
Hey!  Looks like just a couple changes in this commit -> https://github.com/syndesisio/syndesis-ui/commit/349b747ca33aed26f904086a0fd86c1908b44fe8

[2017-07-16 05:07] jbakermd commented on #55
Migrated to new repo issue: https://github.com/atlasmap/atlasmap-ui/issues/22.

[2017-07-16 05:07] #55 closed

[2017-07-16 05:09] jbakermd commented on #64
Closing this issue. We agreed to have a transparent toolbar background color a few weeks after the summit demo. That update was made, and the change is currently visible within the latest version of the syndesis ui.

[2017-07-16 05:09] #64 closed

[2017-07-17 19:20] gashcrumb opened #70 "Delete this repo?"
The relocated data mapper component is in place and working (pretty much), think we can get rid of this repo now?  I don't think we really need any of the data for historical purposes, do we?

@rhuss @jbakermd?

[2017-07-18 12:33] rhuss commented on #70
I have no objections.

[2017-07-19 22:50] jbakermd commented on #70
The only concern I have about deleting the repo is if there are users out there with the summit demo in their hands. Is that a concern?